<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.aniplex.kirarafantasia" />
        <package android:name="com.vmos.openapp" />
    </queries>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KiraraFans" >
        <meta-data
            android:name="com.gcloud.group"
            android:value="SparkleFantasia CN" />
        <meta-data
            android:name="com.gcloud.oid"
            android:value="85b98317-c1ff-4b4a-9720-55edc3f676e5" />
        <meta-data
            android:name="com.gcloud.gclient.version"
            android:value="2025.04" />
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://d0f40e4c0d00d1d4cdb170bdff142f58@sentry.kirafan.xyz/4508992580354048" />
        <meta-data
            android:name="io.sentry.send-default-pii"
            android:value="true" />
        <meta-data
            android:name="io.sentry.traces.user-interaction.enable"
            android:value="true" />
        <meta-data
            android:name="io.sentry.attach-screenshot"
            android:value="true" />
        <meta-data
            android:name="io.sentry.attach-view-hierarchy"
            android:value="true" />
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0" />
        <meta-data
            android:name="io.sentry.traces.profiling.sample-rate"
            android:value="1.0" />
        <meta-data
            android:name="io.sentry.traces.profiling.enable-app-start"
            android:value="true" />

        <activity
            android:name=".ui.activity.TermsActivity"
            android:exported="false"
            android:theme="@style/Theme.KiraraFans" />
        <activity
            android:name=".ui.activity.HelpActivity"
            android:exported="false"
            android:theme="@style/Theme.KiraraFans" />
        <activity
            android:name=".ui.activity.InfoActivity"
            android:exported="false"
            android:theme="@style/Theme.KiraraFans" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.KiraraFans" />
        <activity
            android:name=".ui.activity.LicenseActivity"
            android:exported="false"
            android:theme="@style/Theme.KiraraFans" />
        <activity
            android:name=".ui.activity.LicenseDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.KiraraFans" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.LaunchTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="callback"
                    android:path="/login"
                    android:scheme="kirara" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.ConnectorService"
            android:exported="true"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE" >
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
    </application>
</manifest>